.logo {
  font-size: 26px;
  font-weight: bold;
  color: #d6b36c;
  line-height: 1.2;
}

.logo span {
  display: an inline-block;
  font-size: 16px;
  color: #4c4a48;
}

.nav-links {
  display: flex;
  flex-direction: column;
  list-style: none; /* Use 'none' for cleaner look */
  padding: 0;
  gap: 15px;
}

.nav-links a {
  text-decoration: none;
  color: #4c4a48; /* Initial text color to gold-ish */
  font-size: 20px;
  font-weight: bold;
  padding: 10px 20px;
  border-radius: 8px;
  text-align: left;
  width: 100%;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.nav-links a:hover {
  background-color: #d6b36c; /* Gold background on hover */
  color: #000; /* Dark text when hovering */
  font-weight: bold;
  padding-left: 25px; /* Slight push on hover */
  margin-left: -20px; /* Align with the sidebar */
}

.sidebar {
  position: fixed;
  left: 0;
  top: 0;
  width: 250px;
  height: 100vh;
  background-color: #000000;
  color: #ffffff;
  padding: 30px 20px;
  z-index: 10;
  display: flex;
  flex-direction: column;
  gap: 30px;
  transition: width 0.3s ease;
  overflow: hidden;
}

.sidebar-line {
  width: 300px;
  height: 0.2px;
  background-color: #d6b36c;
  left: 0;
  margin-top: -15px;
  margin-left: -20px;
}

.main-content {
  margin-left: 270px;
  padding: 40px;
  background: linear-gradient(to bottom right, #1e1e1e, #2e2e2e);
  min-height: 100vh;
  color: #fcefc3;
  position: relative;
}

.about-section {
  background-color: rgba(0, 0, 0, 0.6);
  padding: 40px;
  border-radius: 15px;
  max-width: 800px;
  margin: 0 auto;
}

.about-section h1 {
  color: #d6b36c;
  font-size: 32px;
  margin-bottom: 20px;
  text-align: center;
}

.about-section p {
  line-height: 1.8;
  font-size: 16px;
  color: #ddd;
  margin-bottom: 20px;
}

.footer-text {
  margin-top: 40px;
  font-style: italic;
  text-align: center;
  color: #bfa76f;
}
